# Carpetas y archivos a ignorar
node_modules
dist
coverage
.nyc_output
.vscode
.idea

# Archivos de entorno y logs
.env
*.log
npm-debug.log*

# Git y configs locales
.git
.gitignore
Dockerfile
docker-compose.yml

# Tests (opcional si no quieres empaquetarlos)
test
tests
__tests__
*.test.js
*.test.ts
*.spec.js
*.spec.ts
